/* GENERAL */
html, body {
    background-color: #FAFAFA;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TABLE */
table {
    border: solid #000000;
}
.no-visible {
    visibility: hidden;
}

td {
    width: auto;
    border: 1px #000000;
    text-align: center;
    vertical-align: middle;
}

.bloque {
    float: left;
}

/* INPUT */
input {
    width: 50px;
    text-align: center;
}

/* CLASE */
.highbox {
    background-color: rgba(0, 255, 0, 1);
    background: rgba(0, 255, 0, 1);
}
.highbox input{
    tex
}
.highline {
    background-color: rgba(255, 0, 0, 0.8);
    background: rgba(255, 0, 0, 0.8);
}
.highcube {
    background-color: rgba(0, 0, 255, 0.5);
    background: rgba(0, 0, 255, 0.5);
}
.highcube .highline {
    background-color: rgba(0, 0, 255, 0.5);
    background: rgba(0, 0, 255, 0.5);
}
.highcube .highbox {
    background-color: rgba(0, 0, 255, 0.5);
    background: rgba(0, 0, 255, 0.5);
}
.highcube input{
    background-color: rgba(0, 0, 255, 0.5);
    background: rgba(0, 0, 255, 0.5);
}
